<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs" />
    <!-- Escolha o valor para o LogType : FileLog, EventLog -->
    <add key="LogType" value="FileLog"/>
    <!-- O parâmetro {0} será substituido pela data atual. -->
    <add key="FileLogName" value="porquinho_{0}.log" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>